@import "../App.scss";

.MainFrame {
    padding-left: 1em;
    padding-right: 1em;

    width: 66.66%;
    max-width: 66.66% !important;
    height: 100%;

    background: $bg-color-darker;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border-right: thin solid $text-color;
    border-left: thin solid $text-color;

    box-shadow: 0 0 .33em .1em $text-color;

    > * {
        width: 100%;
        padding-bottom: 1em;
    }

    > h1 {
        border-bottom: thin solid $text-color;
        padding-bottom: .25em !important;
    }

    overflow-y: auto;

    animation: FadeIn 300ms ease-in 1;
}

.greetings {
    padding-top: .5em;
    width: 100%;
    text-align: center;
    border-top: 0 !important;
    
    > h1, h2 {
        line-height: 0;
    }

    > h2 {
        padding-top: .5em;
    }
}


.navigation-segment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.quick-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.route-item {
    width: 40%;
    height: fit-content;
    padding: 2em;
    border-radius: 1.5em;
    border: thin solid $text-color;
    font-size: 1.3em;
    margin-bottom: 1em;
    background-color: $bg-color;
    box-shadow: 0 0 2em 1em $bg-hover inset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    > a {
        text-decoration: none;
        color: $text-color;
        transition: all $default-transition-time;

        > svg {
            padding-left: .5em;
            transform: translateY(0) !important;
        }
    }

    transition: all $default-transition-time;
    cursor: pointer;
    &:hover {
        background-color: $bg-hover;
        box-shadow: 0 0 2em 1em $bg-color-darker inset;

        > a {
            color: $text-hover;
        }
    }
}

.milestone-item {
    margin-bottom: 2em;
    > h3 {
        margin: 0;
    }
    > h4 {
        margin-top: .5em;
        color: $text-alternate;

        align-items: center;

        > h5 {
            margin: 0;
            padding-left: .5em;
            color: $text-greyed-out;
        }
    }
}

.project-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &:last-of-type {
        border-bottom: 0 !important;
    }

    > .top-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        > h2 {
            margin: .5em 0 !important;
        }

        > a {
            font-size: 14px;
            color: $text-color;
            text-decoration: none;
    
            &:hover {
                color: $text-hover;
                text-decoration: underline !important;
            }
        }
    }

    > * {
        margin: 1em 0;
    }

    > a {
        color: $text-color;
        text-decoration: none;

        &:hover {
            color: $text-hover;
            text-decoration: underline !important;
        }
    }

    img {
        max-width: 70% !important;
        margin: auto;
    }
}

@media screen and (max-width: 800px) {
    .MainFrame {
        min-width: 95% !important;
        max-width: 95% !important;
        padding: 1em;
    }

    .route-item {
        padding: 2em;
        font-size: 2vw;
    }

    .greetings {
        padding-top: .5em;
        width: 100%;
        text-align: center;
        border-top: 0 !important;
    
        > h2 {
            font-size: 4vw;
        }
    }
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}