@import "../App.scss";

.TopNavbar {
    z-index: 99;

    background: radial-gradient(circle, $bg-color-darker, $bg-color);
    height: 7.5%;
    min-height: 7.5% !important;
    width: 100%;
    border-bottom: thin solid $text-color;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-group {
    height: fit-content;
    width: 30%;
}

.navbar-item {
    padding-left: 1em;
    padding-right: 1em;

    display: flex;
    justify-content: center;
    align-content: center;

    position: relative;
}

.navbar-link {
    display: flex;
    justify-content: center;
    align-content: center;

    text-decoration: none;
    color: $text-color;
  
    transition: all $default-transition-time;
    cursor: pointer;
    &:hover {
      color: $text-hover !important;
    }

    > a {
        display: flex;
        justify-content: center;
        align-content: center;
    
        text-decoration: none;
        color: $text-color;
      
        transition: all $default-transition-time;
        cursor: pointer;
        &:hover {
          color: $text-hover !important;
        }  
    }
}

.navbar-link--no-hover {
    &:hover {
        color: $text-color !important;
    }

    > span {
        &:hover {
            color: $text-hover !important;
        }
    }
}

#language-select {
    background: 0;
    color: $text-color;
    border: 0;
    outline: 0;

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        outline: thin solid white;
        text-decoration: none !important;
    }

    > option {
        color: black;
    }
}

.cv-buttons {
    position: absolute;
    top: 60%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: all $default-transition-time;

    > a {
        background-color: $scrollbar-thumb-color;
        text-decoration: none;
        color: whitesmoke;
        font-size: .9em;
        font-weight: bold;

        box-shadow: 0 .1em 1em .1em $bg-hover;
        padding: .3em 1em;
        border-radius: .5em;
        border: 0 !important;
        margin: .5em;

        cursor: pointer;
        transition: all $default-transition-time;
        &:hover {
            background-color: $scrollbar-thumb-color-hover;
            color: $text-hover;
        }
    }
}