// colors //
$bg-color: #120c09;
$bg-hover: #2d231f;
$text-color: #ffce6b;
$text-hover: #feebc6;

// interaction //
$default-transition-time: 150ms;

.App {
  width: 100vw;
  height: 100vh;

  overflow: auto;
  
  color: $text-color;
  background-color: $bg-color;

  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  transform: translateY(25%);
  padding: 0 .2em 0 .2em;
}

.--row-flex-start {
  display: flex;
  justify-content: flex-start;
}

.--row-flex-end {
  display: flex;
  justify-content: flex-end;
}

.--row-flex-center {
  display: flex;
  justify-content: center;
}