// colors //
$bg-color: #120c09;
$bg-hover: #2d231f;

$text-color: #ffce6b;
$text-hover: #feebc6;
$text-alternate: #ffde9d;
$text-greyed-out: #d4c8b0;

$scrollbar-bg-color: #33221a;
$scrollbar-thumb-color: #a38445;
$scrollbar-thumb-color-hover: #bc984f;

// interaction //
$default-transition-time: 150ms;

.App {
  width: 100vw;
  height: 100vh;

  overflow: auto;
  
  color: $text-color;
  background-color: $bg-color;

  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  transform: translateY(25%);
  padding: 0 .2em 0 .2em;
}

.--row-flex-start {
  display: flex;
  justify-content: flex-start;
}

.--row-flex-end {
  display: flex;
  justify-content: flex-end;
}

.--row-flex-center {
  display: flex;
  justify-content: center;
}

.no-margin-span {
  margin: .5em 0;
  padding: 0 !important;
}

.border-bottom {
  padding-bottom: 1em !important;
  border-bottom: thin solid $text-color;
}

// scrollbar //
::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-track {
  background: $scrollbar-bg-color;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-color;
  border-radius: 7px !important;

  &:hover {
    background: $scrollbar-thumb-color-hover;
  }
}


@supports (-moz-appearance: none) {
  html {
    scrollbar-width: thin;
    scrollbar-color: $scrollbar-thumb-color $scrollbar-bg-color;
  }
}